body {
    background-color: #f2f2f2;
    font-family: sans-serif;
    padding: 0;
}

.banner-container {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
}

.img-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.img-logo-text {
    width: 150px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.img-diagram {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 4px;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

    .menu {
        list-style: none;
        padding: 10px;
        margin: 0;
        display: flex;
        align-items: center;
    }

    .menu li {
        margin-left: 10px;
    }

    .menu a {
        text-decoration: none;
        color: #333;
        padding: 10px;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

        .menu a:hover {
            background-color: #003366;
            color: #fff;
        }

.button-home-grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 10px; /* Add a 10px gap between the buttons */
    justify-content: center;
    align-items: center;
}

.button-home {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 18px;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

    .button-home img {
        max-width: 80%;
        max-height: 80%;
    }

    .button-home:hover {
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }

p {
    color: #000000;
    font-size: 16px;
}

.h3-title {
    color: #000000;
    font-size: 24px;
    margin: 0;
    padding: 5px 0;
    text-align: center;
}

.h2-title {
    color: #000000;
    font-size: 20px;
    margin: 0;
    padding: 5px 0;
    text-align: center;
}

.login-container {
    width: 300px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

    .login-container h2 {
        text-align: center;
    }

    .login-container form {
        display: flex;
        flex-direction: column;
    }

        .login-container form label {
            margin-bottom: 5px;
        }

        .login-container form input[type="text"],
        .login-container form input[type="password"],
        .login-container form input[type="submit"] {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .login-container form input[type="submit"] {
            background-color: #333;
            color: #fff;
            border: 0px;
            border-radius: 4px;
            cursor: pointer;
        }

            .login-container form input[type="submit"]:hover {
                background-color: #333;
                background-color: #003366;
            }

.clientinfo-container {
    background-color: #ffffff;
    width: 800px;
    border: 1px solid #ccc;
    margin: 20px auto;
    overflow: hidden;
    padding: 20px;
}

    .clientinfo-container h1 {
        text-align: center;
        margin-top: 0;
        font-size: 24px;
    }

.clientinfo-table {
    width: 100%;
    border-collapse: collapse;
}

    .clientinfo-table th,
    .clientinfo-table td {
        padding: 10px;
        border: none;
        text-align: left;
        word-break: break-all;
        overflow-wrap: break-word;
    }

    .clientinfo-table th {
        background-color: #ffffff;
        color: black;
        width: 20%;
        vertical-align: top;
    }

    .clientinfo-table tr:not(:first-child) th,
    .clientinfo-table tr:not(:first-child) td {
        border-top: 1px solid #ccc;
    }

.clientheader-container {
    background-color: #ffffff;
    border: 1px solid #ccc;
    width: 900px;
    margin: 20px auto;
    padding: 20px;
}

    .clientheader-container h1 {
        text-align: center;
        margin-top: 0;
        font-size: 24px;
    }

.clientheader-table {
    width: 100%;
    border-collapse: collapse;
    padding: 20px;
}

    .clientheader-table th,
    .clientheader-table td {
        padding: 10px;
        /*border: 1px solid rgba(0, 0, 0, 0);*/
        border: none;
        word-break: break-all;
        overflow-wrap: break-word;
        font-size: 16px;
    }

    .clientheader-table th {
        background-color: #ffffff;
        color: black;
        width: 30%;
        vertical-align: top;
        text-align: left;
        font-size: 16px;
    }

    .clientheader-table tr:not(:first-child) th,
    .clientheader-table tr:not(:first-child) td {
        border-top: 1px solid #ccc;
    }

.button-container {
    display: flex;
    margin: 10px auto;
    justify-content: center;
}

    .button {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .button:hover {
        background-color: #003366;
    }

.request-info-container {
    width: 500px;
    height: 20px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame-container {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.frame {
    width: 100%;
    height: 375px;
    border: 0px;
}

.script-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-container {
    width: 250px;
    height: 250px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.disclaimer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

.response-container {
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

/* Info button */
.info-button {
    padding: 10px 20px;
    background-color: rebeccapurple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

    .info-button:hover {
        background-color: black;
    }

/* Info frame (modal) */
.info-frame {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    padding: 20px;
    text-align: left;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    cursor: pointer;
}

.info-content {
    text-align: left;
    font-size: 14px;
    line-height: 1.6;
}

.rate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.input-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

    .input-item label {
        margin-bottom: 0;
    }

#startRateButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

    #startRateButton:hover {
        background-color: #003366;
    }
